<%- include('partials/header') %>
<main>
    <div class="container about">
        <h3><%= acercaDe.titulo %></h3>
        <figure>
            <picture>
                <source type="image/avif"
                        srcset="<%= acercaDe.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= acercaDe.imagenes.intro_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp"
                        srcset="<%= acercaDe.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= acercaDe.imagenes.intro_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= acercaDe.imagenes.intro_img %>?width=300"
                     srcset="<%= acercaDe.imagenes.intro_img %>?width=300 300w,
                             <%= acercaDe.imagenes.intro_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= acercaDe.titulo %>" aria-label="<%= acercaDe.titulo %>">
            </picture>
                <figcaption><%= locations.fuente %> <a href="<%= acercaDe.imagenes.intro_link %>" target="_blank"><%= acercaDe.imagenes.intro_about %></a></figcaption>
       </figure>
        <p><%= acercaDe.descripcion.intro %></p>

        <h4><%= acercaDe.descripcion.infanciaEducacion_title %></h4>
        <p><%= acercaDe.descripcion.infanciaEducacion_text %></p>

        <h4><%= acercaDe.descripcion.obrasTempranas_title %></h4>
        <p><%= acercaDe.descripcion.obrasTempranas_text %></p>

        <h4><%= acercaDe.descripcion.obrasMaestras_title %></h4>
        <p><%= acercaDe.descripcion.obrasMaestras_text %></p>

        <h4><%= acercaDe.descripcion.estiloArquitectonico_title %></h4>
        <p><%= acercaDe.descripcion.estiloArquitectonico_text %></p>

        <h4><%= acercaDe.descripcion.legadoReconocimiento_title %></h4>
        <p><%= acercaDe.descripcion.legadoReconocimiento_text %></p>
    </div>
</main>
<%- include('partials/footer') %>
