<%- include('partials/header') %>
<div class="content">
    <h3><%= acercaDe.titulo %></h3>
    <p><%= acercaDe.descripcion.intro %></p>
    <h4><%= acercaDe.descripcion.infanciaEducacion_title %></h4>
    <p><%= acercaDe.descripcion.infanciaEducacion_text %></p>
    <h4><%= acercaDe.descripcion.obrasTempranas_title %></h4>
    <p><%= acercaDe.descripcion.obrasTempranas_text %></p>
    <h4><%= acercaDe.descripcion.obrasMaestras_title %></h4>
    <p><%= acercaDe.descripcion.obrasMaestras_text %></p>
    <h4><%= acercaDe.descripcion.estiloArquitectonico_title %></h4>
    <p><%= acercaDe.descripcion.estiloArquitectonico_text %></p>
    <h4><%= acercaDe.descripcion.legadoReconocimiento_title %></h4>
    <p><%= acercaDe.descripcion.legadoReconocimiento_text %></p>
</div>
<%- include('partials/footer') %>
