<%- include('partials/header') %>
<main>
    <div class="container about">
        <h3><%= acercaDe.titulo %></h3>
        <figure>
            <img src="../../assets/photos/acerca_de/<%= acercaDe.imagenes.intro_img %>.jpg" alt="<%= acercaDe.titulo %>"
                 srcset="../../assets/photos/acerca_de/<%= acercaDe.imagenes.intro_img %>.jpg 1200w,
                         ../../assets/photos/acerca_de/<%= acercaDe.imagenes.intro_img %>_600.jpg 600w
                         ../../assets/photos/acerca_de/<%= acercaDe.imagenes.intro_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px">
            <figcaption><%= locations.fuente %> <a href="<%= acercaDe.imagenes.intro_link %>" target="_blank"><%= acercaDe.imagenes.intro_about %></a></figcaption>
        </figure>
        <p><%= acercaDe.descripcion.intro %></p>

        <h4><%= acercaDe.descripcion.infanciaEducacion_title %></h4>
        <p><%= acercaDe.descripcion.infanciaEducacion_text %></p>

        <h4><%= acercaDe.descripcion.obrasTempranas_title %></h4>
        <p><%= acercaDe.descripcion.obrasTempranas_text %></p>

        <h4><%= acercaDe.descripcion.obrasMaestras_title %></h4>
        <p><%= acercaDe.descripcion.obrasMaestras_text %></p>

        <h4><%= acercaDe.descripcion.estiloArquitectonico_title %></h4>
        <p><%= acercaDe.descripcion.estiloArquitectonico_text %></p>

        <h4><%= acercaDe.descripcion.legadoReconocimiento_title %></h4>
        <p><%= acercaDe.descripcion.legadoReconocimiento_text %></p>
    </div>
</main>
<%- include('partials/footer') %>
