<%- include('partials/header') %>
<main>
    <div class="container location">
        <h3><%= casaBatllo.titulo %></h3>

        <p><%= casaBatllo.descripcion.intro %></p>

        <h4><%= casaBatllo.descripcion.fachada_title %></h4>
        <p><%= casaBatllo.descripcion.fachada_text %></p>

        <h4><%= casaBatllo.descripcion.primerPiso_title %></h4>
        <p><%= casaBatllo.descripcion.primerPiso_text %></p>

        <h4><%= casaBatllo.descripcion.patioLuces_title %></h4>
        <p><%= casaBatllo.descripcion.patioLuces_text %></p>

        <h4><%= casaBatllo.descripcion.atico_title %></h4>
        <p><%= casaBatllo.descripcion.atico_text %></p>

        <h4><%= casaBatllo.descripcion.terraza_title %></h4>
        <p><%= casaBatllo.descripcion.terraza_text %></p>


        <div class="googlemaps">
            <iframe src="<%= casaBatllo.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>
</main>
<%- include('partials/footer') %>
