<%- include('partials/header') %>
<main>
    <div class="container location">
    <h3><%= casaMila.titulo %></h3>

    <p><%= casaMila.descripcion.intro %></p>

    <h4><%= casaMila.descripcion.azotea_title %></h4>
    <p><%= casaMila.descripcion.azotea_text %></p>

    <h4><%= casaMila.descripcion.atico_title %></h4>
    <p><%= casaMila.descripcion.atico_text %></p>

    <h4><%= casaMila.descripcion.piso_title %></h4>
    <p><%= casaMila.descripcion.piso_text %></p>

    <h4><%= casaMila.descripcion.patio_title %></h4>
    <p><%= casaMila.descripcion.patio_text %></p>

    <h4><%= casaMila.descripcion.plantaBaja_title %></h4>
    <p><%= casaMila.descripcion.plantaBaja_text %></p>

        <div class="googlemaps">
            <iframe src="<%= casaMila.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

</main>
<%- include('partials/footer') %>
