<%- include('partials/header') %>
<main>
    <div class="container location">
        <h3><%= casaBatllo.titulo %></h3>
        <figure>
            <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.intro_img %>" alt="<%= casaBatllo.titulo %>">
            <figurecaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.intro_link %>" target="_blank"><%= casaBatllo.imagenes.intro_about %></a></figurecaption>
        </figure>
        <p><%= casaBatllo.descripcion.intro %></p>

        
        <h4><%= casaBatllo.descripcion.fachada_title %></h4>
        <figure>
            <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.fachada_img %>" alt="<%= casaBatllo.titulo %>">
            <figurecaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.fachada_link %>" target="_blank"><%= casaBatllo.imagenes.fachada_about %></a></figurecaption>
        </figure>
        <p><%= casaBatllo.descripcion.fachada_text %></p>

        
        <h4><%= casaBatllo.descripcion.pisoPrincipal_title %></h4>
        <figure>
            <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.pisoPrincipal_img %>" alt="<%= casaBatllo.titulo %>">
            <figurecaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.pisoPrincipal_link %>" target="_blank"><%= casaBatllo.imagenes.pisoPrincipal_about %></a></figurecaption>
        </figure>
        <p><%= casaBatllo.descripcion.pisoPrincipal_text %></p>

        
        <h4><%= casaBatllo.descripcion.patioLuces_title %></h4>
        <figure>
            <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.patioLuces_img %>" alt="<%= casaBatllo.titulo %>">
            <figurecaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.patioLuces_link %>" target="_blank"><%= casaBatllo.imagenes.patioLuces_about %></a></figurecaption>
        </figure>
        <p><%= casaBatllo.descripcion.patioLuces_text %></p>

        
        <h4><%= casaBatllo.descripcion.atico_title %></h4>
        <figure>
            <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.atico_img %>" alt="<%= casaBatllo.titulo %>">
            <figurecaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.atico_link %>" target="_blank"><%= casaBatllo.imagenes.atico_about %></a></figurecaption>
        </figure>
        <p><%= casaBatllo.descripcion.atico_text %></p>

        
        <h4><%= casaBatllo.descripcion.terraza_title %></h4>
        <figure>
            <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.terraza_img %>" alt="<%= casaBatllo.titulo %>">
            <figurecaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.terraza_link %>" target="_blank"><%= casaBatllo.imagenes.terraza_about %></a></figurecaption>
        </figure>
        <p><%= casaBatllo.descripcion.terraza_text %></p>


        <div class="googlemaps">
            <iframe src="<%= casaBatllo.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>
</main>
<%- include('partials/footer') %>
