<%- include('partials/header') %>
<main>
    <div class="container location">
        <h3><%= casaBatllo.titulo %></h3>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.intro_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.intro_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= casaBatllo.imagenes.intro_img %>?width=300"
                     srcset="<%= casaBatllo.imagenes.intro_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.intro_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= casaBatllo.titulo %>"
                     aria-label="<%= casaBatllo.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.intro_link %>" target="_blank"><%= casaBatllo.imagenes.intro_about %></a></figcaption>
        </figure>
        <p><%= casaBatllo.descripcion.intro %></p>

        
        <h4><%= casaBatllo.descripcion.fachada_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.fachada_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.fachada_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.fachada_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.fachada_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= casaBatllo.imagenes.fachada_img %>?width=300"
                     srcset="<%= casaBatllo.imagenes.fachada_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.fachada_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= casaBatllo.descripcion.fachada_title %>"
                     aria-label="<%= casaBatllo.descripcion.fachada_title %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.fachada_link %>" target="_blank"><%= casaBatllo.imagenes.fachada_about %></a></figcaption>
        </figure>
        <p><%= casaBatllo.descripcion.fachada_text %></p>

        
        <h4><%= casaBatllo.descripcion.pisoPrincipal_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.pisoPrincipal_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.pisoPrincipal_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.pisoPrincipal_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.pisoPrincipal_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= casaBatllo.imagenes.pisoPrincipal_img %>?width=300"
                     srcset="<%= casaBatllo.imagenes.pisoPrincipal_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.pisoPrincipal_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= casaBatllo.descripcion.pisoPrincipal_title %>"
                     aria-label="<%= casaBatllo.descripcion.pisoPrincipal_title %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.pisoPrincipal_link %>" target="_blank"><%= casaBatllo.imagenes.pisoPrincipal_about %></a></figcaption>
        </figure>
        <p><%= casaBatllo.descripcion.pisoPrincipal_text %></p>

        
        <h4><%= casaBatllo.descripcion.patioLuces_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.patioLuces_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.patioLuces_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.patioLuces_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.patioLuces_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= casaBatllo.imagenes.patioLuces_img %>?width=300"
                     srcset="<%= casaBatllo.imagenes.patioLuces_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.patioLuces_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= casaBatllo.descripcion.patioLuces_title %>"
                     aria-label="<%= casaBatllo.descripcion.patioLuces_title %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.patioLuces_link %>" target="_blank"><%= casaBatllo.imagenes.patioLuces_about %></a></figcaption>
        </figure>
        <p><%= casaBatllo.descripcion.patioLuces_text %></p>

        
        <h4><%= casaBatllo.descripcion.atico_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.atico_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.atico_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.atico_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.atico_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= casaBatllo.imagenes.atico_img %>?width=300"
                     srcset="<%= casaBatllo.imagenes.atico_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.atico_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= casaBatllo.descripcion.atico_title %>"
                     aria-label="<%= casaBatllo.descripcion.atico_title %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.atico_link %>" target="_blank"><%= casaBatllo.imagenes.atico_about %></a></figcaption>
        </figure>
        <p><%= casaBatllo.descripcion.atico_text %></p>

        
        <h4><%= casaBatllo.descripcion.terraza_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.terraza_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.terraza_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= casaBatllo.imagenes.terraza_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.terraza_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= casaBatllo.imagenes.terraza_img %>?width=300"
                     srcset="<%= casaBatllo.imagenes.terraza_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.terraza_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= casaBatllo.descripcion.terraza_title %>"
                     aria-label="<%= casaBatllo.descripcion.terraza_title %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= casaBatllo.imagenes.terraza_link %>" target="_blank"><%= casaBatllo.imagenes.terraza_about %></a></figcaption>
        </figure>
        <p><%= casaBatllo.descripcion.terraza_text %></p>

<!--
        <div class="googlemaps">
            <iframe src="<%= casaBatllo.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
-->

    </div>
</main>
<%- include('partials/footer') %>
