<%- include('partials/header') %>
<div class="content">
    gserg<ion-icon name="heart" size="small"></ion-icon>dgdsg
    <article>
        <h3><%= parqueGuell.titulo %></h3>
        <p><%= parqueGuell.cabezal %></p>
    </article>
    <article>
        <h3><%= palacioGuell.titulo %></h3>
        <p><%= parqueGuell.cabezal %></p>
    </article>
    <article>
        <h3><%= casaMila.titulo %></h3>
        <p><%= casaMila.cabezal %></p>
    </article>
    <article>
        <h3><%= casaVicens.titulo %></h3>
        <p><%= casaVicens.cabezal %></p>
    </article>
    <article>
        <h3><%= sagradaFamilia.titulo %></h3>
        <p><%= sagradaFamilia.cabezal %></p>
    </article>
    <article>
        <h3><%= casaBatllo.titulo %></h3>
        <p><%= casaBatllo.cabezal %></p>
    </article>
</div>
<%- include('partials/footer') %>
