<%- include('partials/header') %>

<div class="banner"></div>

<main>
    <div class="container frontpage">
        <p><%= frontpage.intro1 %></p>
        <p><%= frontpage.intro2 %></p>

        <a href="locations.html"><button><%= frontpage.vamosAlla %></button></a>

    </div>
</main>
<%- include('partials/footer') %>
