<%- include('partials/header') %>

<div class="banner">
    <picture>
        <source type="image/webp" srcset="../../assets/banner/banner_desktop_1200.webp 1200w, ../../assets/banner/banner_desktop_1920.webp 1920w, ../../assets/banner/banner_desktop_2560.webp 2560w"
                media="(min-width: 1200px), (min-aspect-ratio: 1/2)"
                sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px, (max-width: 1920px) 1920px, (max-width: 2560px) 2560px">
        <source type="image/webp" srcset="../../assets/banner/banner_mobile_300.webp 300w, ../../assets/banner/banner_mobile_600.webp 600w"
                media="(max-width: 1199px) and (max-aspect-ratio: 0.999/2)"
                sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px, (max-width: 1920px) 1920px, (max-width: 2560px) 2560px">
        <img src="../../assets/banner/banner_desktop.jpeg" alt="Banner"
             srcset="../../assets/banner/banner_mobile_300.jpeg 300w, ../../assets/banner/banner_mobile_600.jpeg 600w, ../../assets/banner/banner_desktop_1200.jpeg 1200w, ../../assets/banner/banner_desktop_1920.jpeg 1920w, ../../assets/banner/banner_desktop_2560.jpeg 2560w"
             sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px, (max-width: 1920px) 1920px, (max-width: 2560px) 2560px">
    </picture>

</div>

<main>
    <div class="container frontpage">
        <p><%= frontpage.intro1 %></p>
        <p><%= frontpage.intro2 %></p>
        <p><%= frontpage.intro3 %></p>


        <div class="flores">
            <a href="casa_batllo.html"><img class="mask-flower" src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.intro_img %>_300.jpg" alt="<%= casaVicens.titulo %>"></a>
            <a href="casa_mila.html"><img class="mask-flower" src="../../assets/photos/casa_mila/<%= casaMila.imagenes.intro_img %>_300.jpg" alt="<%= casaVicens.titulo %>"></a>
            <a href="casa_vicens.html"><img class="mask-flower" src="../../assets/photos/casa_vicens/<%= casaVicens.imagenes.intro_img %>_300.jpg" alt="<%= casaVicens.titulo %>"></a>
            <a href="palacio_guell.html"><img class="mask-flower" src="../../assets/photos/palacio_guell/<%= palacioGuell.imagenes.intro_img %>_300.jpg" alt="<%= casaVicens.titulo %>"></a>
            <a href="parque_guell.html"><img class="mask-flower" src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.intro_img %>_300.jpg" alt="<%= casaVicens.titulo %>"></a>
            <a href="sagrada_familia.html"><img class="mask-flower" src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.intro_img %>_300.jpg" alt="<%= casaVicens.titulo %>"></a>
        </div>

        <button name="locations" onclick="window.location.href='./locations.html'"><%= frontpage.vamosAlla %></button>

    </div>
</main>

<%- include('partials/footer') %>
