<%- include('partials/header') %>

<main>



    <div class="container locationList">
        <div class="background"><%- include('../assets/routeSeq.svg') %></div>
        <h2><%= locations.titulo %></h2>
        <div class="articles">
            <article>
                <a href="sagrada_familia.html">
                    <picture>
                        <source type="image/avif" loading="lazy"
                                srcset="<%= sagradaFamilia.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= sagradaFamilia.imagenes.intro_img %>?as=avif&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <source type="image/webp" loading="lazy"
                                srcset="<%= sagradaFamilia.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= sagradaFamilia.imagenes.intro_img %>?as=webp&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <img src="<%= sagradaFamilia.imagenes.intro_img %>?width=300"
                             srcset="<%= sagradaFamilia.imagenes.intro_img %>?width=300 300w,
                             <%= sagradaFamilia.imagenes.intro_img %>?width=600 600w"
                             sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                             alt="<%= sagradaFamilia.titulo %>"
                             aria-label="<%= sagradaFamilia.titulo %>"
                             loading="lazy">
                    </picture>
                    <div>
                        <h3><%= sagradaFamilia.titulo %></h3>
                        <p><%= sagradaFamilia.cabezal %></p>
                    </div>
                </a>
            </article>
            <article>
                 <a href="parque_guell.html">
                     <picture>
                         <source type="image/avif" loading="lazy"
                                 srcset="<%= parqueGuell.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.intro_img %>?as=avif&width=600 600w"
                                 sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                         <source type="image/webp" loading="lazy"
                                 srcset="<%= parqueGuell.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.intro_img %>?as=webp&width=600 600w"
                                 sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                         <img src="<%= parqueGuell.imagenes.intro_img %>?width=300"
                              srcset="<%= parqueGuell.imagenes.intro_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.intro_img %>?width=600 600w"
                              sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                              alt="<%= parqueGuell.titulo %>"
                              aria-label="<%= parqueGuell.titulo %>"
                              loading="lazy">
                     </picture>
                    <div>
                        <h3><%= parqueGuell.titulo %></h3>
                        <p><%= parqueGuell.cabezal %></p>
                    </div>
                </a>
            </article>
            <article>
                <a href="casa_mila.html">
                    <picture>
                        <source type="image/avif" loading="lazy"
                                srcset="<%= casaMila.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= casaMila.imagenes.intro_img %>?as=avif&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <source type="image/webp" loading="lazy"
                                srcset="<%= casaMila.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= casaMila.imagenes.intro_img %>?as=webp&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <img src="<%= casaMila.imagenes.intro_img %>?width=300"
                             srcset="<%= casaMila.imagenes.intro_img %>?width=300 300w,
                             <%= casaMila.imagenes.intro_img %>?width=600 600w"
                             sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                             alt="<%= casaMila.titulo %>"
                             aria-label="<%= casaMila.titulo %>"
                             loading="lazy">
                    </picture>
                    <div>
                        <h3><%= casaMila.titulo %></h3>
                        <p><%= casaMila.cabezal %></p>
                    </div>
                </a>
            </article>
            <article>
                <a href="casa_batllo.html">
                    <picture>
                        <source type="image/avif" loading="lazy"
                                srcset="<%= casaBatllo.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= casaBatllo.imagenes.intro_img %>?as=avif&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <source type="image/webp" loading="lazy"
                                srcset="<%= casaBatllo.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= casaBatllo.imagenes.intro_img %>?as=webp&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <img src="<%= casaBatllo.imagenes.intro_img %>?width=300"
                             srcset="<%= casaBatllo.imagenes.intro_img %>?width=300 300w,
                             <%= casaBatllo.imagenes.intro_img %>?width=600 600w"
                             sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                             alt="<%= casaBatllo.titulo %>"
                             aria-label="<%= casaBatllo.titulo %>"
                             loading="lazy">
                    </picture>
                    <div>
                        <h3><%= casaBatllo.titulo %></h3>
                        <p><%= casaBatllo.cabezal %></p>
                    </div>
                </a>
            </article>
            <article>
                <a href="palacio_guell.html">
                    <picture>
                        <source type="image/avif" loading="lazy"
                                srcset="<%= palacioGuell.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= palacioGuell.imagenes.intro_img %>?as=avif&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <source type="image/webp" loading="lazy"
                                srcset="<%= palacioGuell.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= palacioGuell.imagenes.intro_img %>?as=webp&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <img src="<%= palacioGuell.imagenes.intro_img %>?width=300"
                             srcset="<%= palacioGuell.imagenes.intro_img %>?width=300 300w,
                             <%= palacioGuell.imagenes.intro_img %>?width=600 600w"
                             sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                             alt="<%= palacioGuell.titulo %>"
                             aria-label="<%= palacioGuell.titulo %>"
                             loading="lazy">
                    </picture>
                    <div>
                        <h3><%= palacioGuell.titulo %></h3>
                        <p><%= palacioGuell.cabezal %></p>
                    </div>
                </a>
            </article>
            <article>
                <a href="casa_vicens.html">
                    <picture>
                        <source type="image/avif" loading="lazy"
                                srcset="<%= casaVicens.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= casaVicens.imagenes.intro_img %>?as=avif&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <source type="image/webp" loading="lazy"
                                srcset="<%= casaVicens.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= casaVicens.imagenes.intro_img %>?as=webp&width=600 600w"
                                sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                        <img src="<%= casaVicens.imagenes.intro_img %>?width=300"
                             srcset="<%= casaVicens.imagenes.intro_img %>?width=300 300w,
                             <%= casaVicens.imagenes.intro_img %>?width=600 600w"
                             sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                             alt="<%= casaVicens.titulo %>"
                             aria-label="<%= casaVicens.titulo %>"
                             loading="lazy">
                    </picture>
                    <div>
                        <h3><%= casaVicens.titulo %></h3>
                        <p><%= casaVicens.cabezal %></p>
                    </div>
                </a>
            </article>
        </div>
    </div>
</main>

<script>
    //Script para el efecto de la imagen "Secuencia de Ruta".
    //Cada path tiene un idNNN numerado en orden. Este script activa el "fade in" secuencialmente.
    window.onload = function() {
        let paths = Array.from(document.querySelectorAll("path"));
        // ordena los paths por ID
        paths.sort((a, b) => parseInt(a.id.replace("id", "")) - parseInt(b.id.replace("id", "")));

        for(let i = 0; i < paths.length; i++) {
            //Añadimos un lag entre punto y punto de la imagen.
            paths[i].style.animationDelay = `${i * 0.015}s`;
        }
    }
</script>


<%- include('partials/footer') %>
