<%- include('partials/header') %>

<main>
    <div class="container locationList">
        <article>
            <a href="parque_guell.html">
                <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.intro_img %>" alt="<%= parqueGuell.titulo %>">
                <div>
                    <h3><%= parqueGuell.titulo %></h3>
                    <p><%= parqueGuell.cabezal %></p>
                </div>
            </a>
        </article>
        <article>
            <a href="palacio_guell.html">
                <img src="../../assets/photos/palacio_guell/<%= palacioGuell.imagenes.intro_img %>" alt="<%= palacioGuell.titulo %>">
                <div>
                    <h3><%= palacioGuell.titulo %></h3>
                    <p><%= palacioGuell.cabezal %></p>
                </div>
            </a>
        </article>
        <article>
            <a href="casa_mila.html">
                <img src="../../assets/photos/casa_mila/<%= casaMila.imagenes.intro_img %>" alt="<%= casaMila.titulo %>">
                <div>
                    <h3><%= casaMila.titulo %></h3>
                    <p><%= casaMila.cabezal %></p>
                </div>
            </a>
        </article>
        <article>
            <a href="casa_vicens.html">
                <img src="../../assets/photos/casa_vicens/<%= casaVicens.imagenes.intro_img %>" alt="<%= casaVicens.titulo %>">
                <div>
                    <h3><%= casaVicens.titulo %></h3>
                    <p><%= casaVicens.cabezal %></p>
                </div>
            </a>
        </article>
        <article>
            <a href="sagrada_familia.html">
                <img src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.intro_img %>" alt="<%= sagradaFamilia.titulo %>">
                <div>
                    <h3><%= sagradaFamilia.titulo %></h3>
                    <p><%= sagradaFamilia.cabezal %></p>
                </div>
            </a>
        </article>
        <article>
            <a href="casa_batllo.html">
                <img src="../../assets/photos/casa_batllo/<%= casaBatllo.imagenes.intro_img %>" alt="<%= casaBatllo.titulo %>">
                <div>
                    <h3><%= casaBatllo.titulo %></h3>
                    <p><%= casaBatllo.cabezal %></p>
                </div>
            </a>
        </article>
    </div>
</main>

<%- include('partials/footer') %>
