<%- include('partials/header') %>
<main>
    <div class="container about">
        <h3><%= footer.legal %></h3>
        <p><%= notaLegal.mensaje1 %></p>
        <p><%= notaLegal.mensaje2 %></p>

        <p><a href="<%= notaLegal.link1_url %>"><%= notaLegal.link1_url %></a></p>
        <p><a href="<%= notaLegal.link2_url %>"><%= notaLegal.link2_url %></a></p>
        <p><a href="<%= notaLegal.link3_url %>"><%= notaLegal.link3_url %></a></p>
        <p><a href="<%= notaLegal.link4_url %>"><%= notaLegal.link4_url %></a></p>
        <p><a href="<%= notaLegal.link5_url %>"><%= notaLegal.link5_url %></a></p>
        <p><a href="<%= notaLegal.link6_url %>"><%= notaLegal.link6_url %></a></p>
        <p><a href="<%= notaLegal.link7_url %>"><%= notaLegal.link7_url %></a></p>
        <br>
        <br>
    </div>
</main>
<%- include('partials/footer') %>
