<%- include('partials/header') %>

<main>
    <div class="container location">
        <h3><%= palacioGuell.titulo %></h3>

        <p><%= palacioGuell.descripcion.intro %></p>

        <h4><%= palacioGuell.descripcion.vestibulo_title %></h4>
        <p><%= palacioGuell.descripcion.vestibulo_text %></p>

        <h4><%= palacioGuell.descripcion.salonBaile_title %></h4>
        <p><%= palacioGuell.descripcion.salonBaile_text %></p>

        <h4><%= palacioGuell.descripcion.salaMusica_title %></h4>
        <p><%= palacioGuell.descripcion.salaMusica_text %></p>

        <h4><%= palacioGuell.descripcion.patioCentral_title %></h4>
        <p><%= palacioGuell.descripcion.patioCentral_text %></p>

        <h4><%= palacioGuell.descripcion.terraza_title %></h4>
        <p><%= palacioGuell.descripcion.terraza_text %></p>

        <div class="googlemaps">
            <iframe src="<%= palacioGuell.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</main>

<%- include('partials/footer') %>
