<%- include('partials/header') %>

<main>
    <div class="container location">
        <h3><%= parqueGuell.titulo %></h3>
        <figure>
            <picture>
                <source type="image/avif"
                        srcset="<%= parqueGuell.imagenes.intro_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.intro_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp"
                        srcset="<%= parqueGuell.imagenes.intro_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.intro_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.intro_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.intro_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.intro_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.intro_link %>" target="_blank"><%= parqueGuell.imagenes.intro_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.intro %></p>


        <h4><%= parqueGuell.descripcion.entrada_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.entrada_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.entrada_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.entrada_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.entrada_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.entrada_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.entrada_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.entrada_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.entrada_link %>" target="_blank"><%= parqueGuell.imagenes.entrada_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.entrada_text %></p>


        <h4><%= parqueGuell.descripcion.pabellones_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.pabellones_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.pabellones_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.pabellones_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.pabellones_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.pabellones_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.pabellones_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.pabellones_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.pabellones_link %>" target="_blank"><%= parqueGuell.imagenes.pabellones_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.pabellones_text %></p>


        <h4><%= parqueGuell.descripcion.escalinata_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.escalinata_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.escalinata_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.escalinata_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.escalinata_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.escalinata_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.escalinata_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.escalinata_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.escalinata_link %>" target="_blank"><%= parqueGuell.imagenes.escalinata_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.escalinata_text %></p>


        <h4><%= parqueGuell.descripcion.salaHipostila_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.salaHipostila_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.salaHipostila_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.salaHipostila_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.salaHipostila_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.salaHipostila_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.salaHipostila_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.salaHipostila_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.salaHipostila_link %>" target="_blank"><%= parqueGuell.imagenes.salaHipostila_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.salaHipostila_text %></p>


        <h4><%= parqueGuell.descripcion.laPlaza_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.laPlaza_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.laPlaza_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.laPlaza_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.laPlaza_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.laPlaza_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.laPlaza_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.laPlaza_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.laPlaza_link %>" target="_blank"><%= parqueGuell.imagenes.laPlaza_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.laPlaza_text %></p>


        <h4><%= parqueGuell.descripcion.caminosYviaductos_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.caminosYviaductos_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.caminosYviaductos_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.caminosYviaductos_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.caminosYviaductos_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.caminosYviaductos_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.caminosYviaductos_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.caminosYviaductos_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.caminosYviaductos_link %>" target="_blank"><%= parqueGuell.imagenes.caminosYviaductos_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.caminosYviaductos_text %></p>


        <h4><%= parqueGuell.descripcion.elCalvario_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.elCalvario_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.elCalvario_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.elCalvario_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.elCalvario_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.elCalvario_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.elCalvario_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.elCalvario_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.elCalvario_link %>" target="_blank"><%= parqueGuell.imagenes.elCalvario_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.elCalvario_text %></p>


        <h4><%= parqueGuell.descripcion.casaMuseo_title %></h4>
        <figure>
            <picture>
                <source type="image/avif" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.casaMuseo_img %>?as=avif&width=300 300w,
                                <%= parqueGuell.imagenes.casaMuseo_img %>?as=avif&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <source type="image/webp" loading="lazy"
                        srcset="<%= parqueGuell.imagenes.casaMuseo_img %>?as=webp&width=300 300w,
                                <%= parqueGuell.imagenes.casaMuseo_img %>?as=webp&width=600 600w"
                        sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"/>
                <img src="<%= parqueGuell.imagenes.casaMuseo_img %>?width=300"
                     srcset="<%= parqueGuell.imagenes.casaMuseo_img %>?width=300 300w,
                             <%= parqueGuell.imagenes.casaMuseo_img %>?width=600 600w"
                     sizes="(max-width: 600px) 300px, (max-width: 1200px) 600px"
                     alt="<%= parqueGuell.titulo %>"
                     aria-label="<%= parqueGuell.titulo %>"
                     loading="lazy">
            </picture>
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.casaMuseo_link %>" target="_blank"><%= parqueGuell.imagenes.casaMuseo_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.casaMuseo_text %></p>


<!--
        <div class="googlemaps">
            <iframe src="<%= parqueGuell.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
-->

    </div>
</main>

<%- include('partials/footer') %>
