<%- include('partials/header') %>

<main>
    <div class="container location">
        <h3><%= parqueGuell.titulo %></h3>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.intro_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.intro_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.intro_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.intro_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.intro_link %>" target="_blank"><%= parqueGuell.imagenes.intro_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.intro %></p>


        <h4><%= parqueGuell.descripcion.entrada_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.entrada_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.entrada_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.entrada_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.entrada_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.entrada_link %>" target="_blank"><%= parqueGuell.imagenes.entrada_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.entrada_text %></p>


        <h4><%= parqueGuell.descripcion.pabellones_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.pabellones_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.pabellones_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.pabellones_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.pabellones_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.pabellones_link %>" target="_blank"><%= parqueGuell.imagenes.pabellones_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.pabellones_text %></p>


        <h4><%= parqueGuell.descripcion.escalinata_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.escalinata_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.escalinata_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.escalinata_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.escalinata_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.escalinata_link %>" target="_blank"><%= parqueGuell.imagenes.escalinata_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.escalinata_text %></p>


        <h4><%= parqueGuell.descripcion.salaHipostila_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.salaHipostila_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.salaHipostila_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.salaHipostila_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.salaHipostila_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.salaHipostila_link %>" target="_blank"><%= parqueGuell.imagenes.salaHipostila_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.salaHipostila_text %></p>


        <h4><%= parqueGuell.descripcion.laPlaza_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.laPlaza_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.laPlaza_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.laPlaza_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.laPlaza_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.laPlaza_link %>" target="_blank"><%= parqueGuell.imagenes.laPlaza_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.laPlaza_text %></p>


        <h4><%= parqueGuell.descripcion.caminosYviaductos_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.caminosYviaductos_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.caminosYviaductos_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.caminosYviaductos_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.caminosYviaductos_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.caminosYviaductos_link %>" target="_blank"><%= parqueGuell.imagenes.caminosYviaductos_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.caminosYviaductos_text %></p>


        <h4><%= parqueGuell.descripcion.elCalvario_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.elCalvario_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.elCalvario_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.elCalvario_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.elCalvario_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.elCalvario_link %>" target="_blank"><%= parqueGuell.imagenes.elCalvario_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.elCalvario_text %></p>


        <h4><%= parqueGuell.descripcion.casaMuseo_title %></h4>
        <figure>
            <img src="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.casaMuseo_img %>.jpg" alt="<%= parqueGuell.titulo %>"
                 srcset="../../assets/photos/parque_guell/<%= parqueGuell.imagenes.casaMuseo_img %>.jpg 1200w,
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.casaMuseo_img %>_600.jpg 600w
                         ../../assets/photos/parque_guell/<%= parqueGuell.imagenes.casaMuseo_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px" loading="lazy">
            <figcaption><%= locations.fuente %> <a href="<%= parqueGuell.imagenes.casaMuseo_link %>" target="_blank"><%= parqueGuell.imagenes.casaMuseo_about %></a></figcaption>
        </figure>
        <p><%= parqueGuell.descripcion.casaMuseo_text %></p>


        <div class="googlemaps">
            <iframe src="<%= parqueGuell.referencias.direccion_mapa %>" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</main>

<%- include('partials/footer') %>
