<%- include('partials/header') %>
<main class="location">
    <div class="container">
        <h3><%= parqueGuell.titulo %></h3>

        <p><%= parqueGuell.descripcion.intro %></p>

        <h4><%= parqueGuell.descripcion.entrada_title %></h4>
        <p><%= parqueGuell.descripcion.entrada_text %></p>

        <h4><%= parqueGuell.descripcion.pabellones_title %></h4>
        <p><%= parqueGuell.descripcion.pabellones_text %></p>

        <h4><%= parqueGuell.descripcion.escalinata_title %></h4>
        <p><%= parqueGuell.descripcion.escalinata_text %></p>

        <h4><%= parqueGuell.descripcion.salaHipostila_title %></h4>
        <p><%= parqueGuell.descripcion.salaHipostila_text %></p>

        <h4><%= parqueGuell.descripcion.laPlaza_title %></h4>
        <p><%= parqueGuell.descripcion.laPlaza_text %></p>

        <h4><%= parqueGuell.descripcion.caminosYviaductos_title %></h4>
        <p><%= parqueGuell.descripcion.caminosYviaductos_text %></p>

        <h4><%= parqueGuell.descripcion.elCalvario_title %></h4>
        <p><%= parqueGuell.descripcion.elCalvario_text %></p>

        <h4><%= parqueGuell.descripcion.casaMuseo_title %></h4>
        <p><%= parqueGuell.descripcion.casaMuseo_text %></p>
    </div>
</main>
<%- include('partials/footer') %>
