<%- include('partials/header') %>

<main>
    <div class="container location">
        <h3><%= sagradaFamilia.titulo %></h3>
        <figure>
            <img src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.intro_img %>.jpg" alt="<%= sagradaFamilia.titulo %>"
                 srcset="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.intro_img %>.jpg 1200w,
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.intro_img %>_600.jpg 600w
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.intro_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px">
            <figcaption><%= locations.fuente %> <a href="<%= sagradaFamilia.imagenes.intro_link %>" target="_blank"><%= sagradaFamilia.imagenes.intro_about %></a></figcaption>
        </figure>
        <p><%= sagradaFamilia.descripcion.intro %></p>

        
        <h4><%= sagradaFamilia.descripcion.naveCentral_title %></h4>
        <figure>
            <img src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.naveCentral_img %>.jpg" alt="<%= sagradaFamilia.titulo %>"
                 srcset="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.naveCentral_img %>.jpg 1200w,
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.naveCentral_img %>_600.jpg 600w
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.naveCentral_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px">
            <figcaption><%= locations.fuente %> <a href="<%= sagradaFamilia.imagenes.naveCentral_link %>" target="_blank"><%= sagradaFamilia.imagenes.naveCentral_about %></a></figcaption>
        </figure>
        <p><%= sagradaFamilia.descripcion.naveCentral_text %></p>

        
        <h4><%= sagradaFamilia.descripcion.abside_title %></h4>
        <figure>
            <img src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.abside_img %>.jpg" alt="<%= sagradaFamilia.titulo %>"
                 srcset="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.abside_img %>.jpg 1200w,
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.abside_img %>_600.jpg 600w
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.abside_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px">
            <figcaption><%= locations.fuente %> <a href="<%= sagradaFamilia.imagenes.abside_link %>" target="_blank"><%= sagradaFamilia.imagenes.abside_about %></a></figcaption>
        </figure>
        <p><%= sagradaFamilia.descripcion.abside_text %></p>


        <h4><%= sagradaFamilia.descripcion.torres_title %></h4>
        <figure>
            <img src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.torres_img %>.jpg" alt="<%= sagradaFamilia.titulo %>"
                 srcset="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.torres_img %>.jpg 1200w,
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.torres_img %>_600.jpg 600w
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.torres_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px">
            <figcaption><%= locations.fuente %> <a href="<%= sagradaFamilia.imagenes.torres_link %>" target="_blank"><%= sagradaFamilia.imagenes.torres_about %></a></figcaption>
        </figure>
        <p><%= sagradaFamilia.descripcion.torres_text %></p>


        <h4><%= sagradaFamilia.descripcion.criptas_title %></h4>
        <figure>
            <img src="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.criptas_img %>.jpg" alt="<%= sagradaFamilia.titulo %>"
                 srcset="../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.criptas_img %>.jpg 1200w,
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.criptas_img %>_600.jpg 600w
                         ../../assets/photos/sagrada_familia/<%= sagradaFamilia.imagenes.criptas_img %>_300.jpg 300w"
                 sizes="(max-width: 300px) 300px, (max-width: 600px) 600px, (max-width: 1200px) 1200px">
            <figcaption><%= locations.fuente %> <a href="<%= sagradaFamilia.imagenes.criptas_link %>" target="_blank"><%= sagradaFamilia.imagenes.criptas_about %></a></figcaption>
        </figure>
        <p><%= sagradaFamilia.descripcion.criptas_text %></p>

        <div class="googlemaps">
            <iframe src="<%= sagradaFamilia.referencias.direccion_mapa %>" class="googlemaps" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</main>

<%- include('partials/footer') %>
