<%- include('partials/header') %>
<main class="location">
    <div class="container">
        <h3><%= sagradaFamilia.titulo %></h3>

        <p><%= sagradaFamilia.descripcion.intro %></p>

        <h4><%= sagradaFamilia.descripcion.naveCentral_title %></h4>
        <p><%= sagradaFamilia.descripcion.naveCentral_text %></p>

        <h4><%= sagradaFamilia.descripcion.abside_title %></h4>
        <p><%= sagradaFamilia.descripcion.abside_text %></p>

        <h4><%= sagradaFamilia.descripcion.torres_title %></h4>
        <p><%= sagradaFamilia.descripcion.torres_text %></p>

        <h4><%= sagradaFamilia.descripcion.museo_title %></h4>
        <p><%= sagradaFamilia.descripcion.museo_text %></p>

        <h4><%= sagradaFamilia.descripcion.criptas_title %></h4>
        <p><%= sagradaFamilia.descripcion.criptas_text %></p>
    </div>
</main>
<%- include('partials/footer') %>
