            <footer>
                <div class="container">
                    <p><%= footer.queEs %></p>
                    <p><%= footer.por %> <a href="mailto: <%= footer.email %>"><%= footer.autor %></a></p>
                    <p><a href="nota_legal.html"><%= footer.legal %></a></p>
                    <hr>
                    <p class="copyright"><%= footer.copyright %></p>
                </div>
            </footer>
            </body>
</html>