            <footer>
                <div class="container">
                    <div class="columnas">
                        <div>
                            <p><%= footer.queEs %></p>
                            <p><%= footer.por %> <a href="mailto:<%= footer.email %>"><%= footer.autor %></a></p>
                            <p><a href="nota_legal.html"><%= footer.legal %></a></p>
                        </div>
                        <div class="about">
                            <img width="225" height="234" src="../../assets/lagartoGaudi.gif?height=150" alt="lagarto trencadís" loading="lazy">
                        </div>
                        <div>
                            <ul class="locations">
                                <li><a href="sagrada_familia.html"><%= sagradaFamilia.titulo %></a></li>
                                <li><a href="parque_guell.html"><%= parqueGuell.titulo %></a></li>
                                <li><a href="casa_mila.html"><%= casaMila.titulo %></a></li>
                                <li><a href="casa_batllo.html"><%= casaBatllo.titulo %></a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="others">
                                <li><a href="palacio_guell.html"><%= palacioGuell.titulo %></a></li>
                                <li><a href="casa_vicens.html"><%= casaVicens.titulo %></a></li>
                                <li><a href="locations.html"><%= locations.titulo %></a></li>
                                <li><a href="acerca_de.html"><%= acercaDe.titulo %></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="smooth">
                    <p class="copyright"><%= footer.copyright %></p>
                </div>
            </footer>
            </body>
</html>