<!doctype html>
<html lang="<%= currentLanguage %>">

<head>
    <title><%= header.titulo %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="description" content="<%= header.titulo %> - <%= header.subtitulo %>">
    <meta name="keywords" content="P<%= header.keywords %>">
    <meta name="author" content="<%= footer.nombre %>">
    <meta name="robots" content="index, follow">

    <!-- Color de barra de estado para móviles -->
    <meta name="msapplication-navbutton-color" content="#320000">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#320000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Recursos -->
    <script type="module" src="../../assets/app.js"></script>
    <link rel="stylesheet" href="../../assets/styles.scss" />
</head>

<body>
    <div id="top"></div>
    <header>
        <div class="container">
            <div class="title">
                <a href="index.html"><img src="../../assets/logo.png" alt="logo sitio web"></a>
                <h1><%= header.titulo %></h1>
            </div>

            <!--Botones MENU y LANG para mobile-->
            <!-- https://icons.getbootstrap.com/ -->
            <button id="mainMenuButton"><i class="bi bi-list"/></button>
            <input type="checkbox" id="mainMenuCheckbox">
            <button id="langSelectorButton"><i class="bi bi-globe2"/></button>
            <input type="checkbox" id="langSelectorCheckbox">

            <!--Cuerpo del menu principal-->
            <nav class="mainMenuContent">
                <ul>
                    <li><a href="/<%= currentLanguage %>">INICIO</a></li>
                    <li>
                        Obras en Barcelona
                        <ul class="childMenu">
                            <li><a href="parque_guell.html"><%= parqueGuell.titulo %></a></li>
                            <li><a href="palacio_guell.html"><%= palacioGuell.titulo %></a></li>
                            <li><a href="casa_mila.html"><%= casaMila.titulo %></a></li>
                            <li><a href="casa_vicens.html"><%= casaVicens.titulo %></a></li>
                            <li><a href="sagrada_familia.html"><%= sagradaFamilia.titulo %></a></li>
                            <li><a href="casa_batllo.html"><%= casaBatllo.titulo %></a></li>
                        </ul>
                    </li>
                    <li><a href="otras_obras.html"><%= otrasObras.titulo %></a></li>
                    <li><a href="acerca_de.html"><%= acercaDe.titulo %></a></li>
                </ul>
            </nav>

            <!--Cuerpo del menu de idioma-->
            <nav class="langSelectorContent">
                <ul >
                    <li><a href="../ca/index.html"><img src="../../assets/speech/ca.svg" alt="catalan flag"><span>Catalan</span></a></li>
                    <li><a href="../es/index.html"><img src="../../assets/speech/es.svg" alt="spanish flag"><span>Spanish</span></a></li>
                    <li><a href="../en/index.html"><img src="../../assets/speech/en.svg" alt="english flag"><span>English</span></a></li>
                    <li><a href="../fr/index.html"><img src="../../assets/speech/fr.svg" alt="french flag"><span>French</span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <a href="#top" id="boton-top"><button><i class="bi bi-arrow-up"/></button></a>
